.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF
}
a{
    text-decoration: none;
}

.ul {
    list-style: none;
}


/**---------------------menu----------------------*/

.header-menu-logo{
    color: #4D5AE5;
    font-family: "Raleway",sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-color{
    color: #2E2F42;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
}

.header-menu-item {
    color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-soc-item {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.address{
    font-style: normal
}

/**-------------------------2secia---------------------*/

.zagolowok {
    color:  #FFF;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.button{
    border-radius: 4px;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px 0px;
cursor: pointer;

color:  #ffffff;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

/**-------------------------3secia----------------------*/
.section-info{
    background-color: #FFF;
}

.zagolowok-tekst {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.tekst{
    color: #434455;

font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**-------------------------4secia----------------------*/
.section-foto{
    background-color: #F4F4Fd;
}

.Our-Team {
    color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
} 

.neme {
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.workplace {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**----------------------------------------*/

.footer-boxx{
    background-color: #2e2f42;
}
.footer-logo {
    font-family: "Raleway";
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase
}

.footer-logo-color{
    color: #f4f4fd;
}

.footer-tekst{
    color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}