.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#ffffff;
}
.a{
    text-decoration: none;
}

.ul {
    list-style: none;
}


/**---------------------menu----------------------*/
.header-menu-list{
    color:#2e2f42;
}

.header-menu-logo{
    color:#4d5ae5;
    font-family: "Raleway",sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-color{
    color:#2e2f42;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
}

.header-menu-item {
    color:#2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-soc-item {
    color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.address{
    font-style: normal
}

.cursor{
    color:#434455;
}
cursor:hover
cursor:focus{
    color:#404bbf;
}
.header-menu-link{
    color: #404bbf;
}
.header-soc-link{
color: #404bbf;
}
/**-------------------------1secia---------------------*/

.section-one{
    background-color:#2e2f42;
}

.zagolowok {
color:#ffffff;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.menu-button{
background-color:#404BBF;

cursor: pointer;

color:#ffffff;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.button:hover
.button:focus{
    background-color:#404BBF;
    cursor: pointer;
}

/**-------------------------2secia----------------------*/
.section-info{
    background-color:#ffffff;
}

.zagolowok-tekst {
    color:#2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.tekst{
    color:#434455;

font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**-------------------------3secia----------------------*/
.section-foto{
    background-color:#F4F4FD;
}

.our-team {
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
} 

.neme {

    color:#2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.workplace {
    color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.section-foto{
    background-color:#ffffff;
}

/**---------------------footer-------------------*/

.footer-boxx{
    background-color:#2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color:#4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase
}

.footer-logo-color{
    color:#f4f4fd;
    font-family: "Raleway", sans-serif;
}

.footer-tekst{
    color:#f4f4fd;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
/**-------------4secia-----------*/
.portfolio{
    color:#2e2f42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 0.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-neme{
    color:#2e2f42;
        text-align: center;
    text-transform: capitalize;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio-text{
    color:#434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
